@import url(font.css);
:root{
    --mainColor: #22577A;
    --secondaryColor: #38A3A5;
    --tertiaryColor: #57CC99;
    --tertiaryLightColor: #80ED99;
    --tertiaryLighterColor: #C7F9CC;
    --white: #ffffff;
}
.form-wrapper{
    display: flex    ;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        align-content: space-around;
        justify-content: center;
        width: 600px;
        border-radius: 12px;
        border: var(--secondaryColor) 1px solid;
        height: 500px;
}
.form-container{
    background-color: #22577A;

}
input{
    display: block;
    border: 0;
    padding: 20px;
    width: 100px;
    border-bottom: #ffffff 1px solid;
background-color: transparent;
}
